*{
    padding: 0px;
    margin: 0px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
body{
    background-color: black;
    color: white;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
header ul{
    display: flex;
    justify-content: space-around;
}
header ul li{
    margin: 20px;
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header ul li i{
    margin-right: 8px;
}
header ul li a:hover{
    color: rgb(168, 105, 105);
    text-shadow: 4px 3px 4px white;
}
#section-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#section-1 ul{
    width: 50%;
    display: flex;
    align-items: center;
}
#section-1 ul li{
    font-family: "Source Code Pro", monospace;
    list-style: none;
    padding-right: 20px;
}
#section-1 ul li::first-letter{
    color: aqua;
}
#section-2{
    width: 100%;
    display: flex;
    justify-content: center;
}
#section-2 p{
    width: 500px;
    text-align: justify;
    padding: 20px;
}
#section-2 img{
    border-radius: 50%;
    align-items: center;
}
h1{
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 30px;
    font-weight: 100;
}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.col{
    width: 300px;
    height: 200px;
    margin: 10px;
}
#welcome{
    position: absolute;
    top: 70%;
    left: 32%;
    border: 5px double white;
    padding: 30px;
    background-color: rgba(27, 33, 37, 0);
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .row1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.box{
    border: 5px solid white;
    text-align: center;
    padding: 10px;
    width: 240px;
    height: 520px;
}
.box:hover{
    border: none;
    width: 260px;
    height: 530px;
}
#contact-box{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

/* test */
